body {
  background: #ccdc24;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  text-align: left;
}

.App {
  max-width: 800px;
  margin: 60px auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.Weather h1 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #000;
}

.Weather {
  font-family: "Courier New", Courier, monospace;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 40px;
  color: #878787;
}

.Weather form {
  margin-top: 40px;
  border-bottom: 1px solid #ccdc24;
  padding-bottom: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}

.Weather .search-input {
  background: #ccdc24;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.form-control {
  width: 100%;
  font-weight: 400;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

button,
input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
}

.p-0 {
  padding: 0 !important;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.bnt:not(:disabled) :not(.disabled) {
  cursor: pointer;
}

.Weather .btn {
  background: #8db6bf;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

.w-100 {
  width: 100% !important;
}

.btn-primary {
  color: #fff;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.WeatherInfo .temperature-container {
  margin-top: 30px;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.d-flex {
  display: flex !important;
}

.Weather canvas {
  margin: 10px 0;
}

.Weather .temperature {
  color: #000;
  margin-left: 10px;
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
}

.Weather .unit {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherForecast {
  text-align: center;
  margin: 40px 0;
  border-bottom: 1px solid #ccdc24;
  padding-bottom: 50px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.WeatherForecast .forecast-time {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(39, 33, 66, 4);
}

.WeatherForecast .forecast-temperature {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #8db6bf;
  font-weight: 700;
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 20px auto;
}

.WeatherForecast .forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}

.Weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 4);
  display: block;
}
